:root {
  --primary-color : #00c4f5;
  --secondary-color :#c7c2c2;
}

body {
  margin : 0;
}

* {
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
 width: 100%;
 margin: auto;
 padding: 1rem;
 text-align: center;
 font-size: x-large;
 font-weight: bold;
 border-bottom: 1px solid var(--secondary-color);
 margin-bottom: 10px;
}

.header p {
font-weight: normal;
font-size: medium;
margin-top: 0.5rem;
}

main {
  max-width: 700px;
  margin: auto;
  /* height: 90vh; */
}

.leftPanel {
  float: left;
  width: 35%;
  border-right: 1px solid var(--secondary-color);
  height: 70%;
  padding: 1rem;
}



.leftPanelButton {
  display: block;
  margin: 5vh auto;
  width: 90px;
  height: 45px;
  border : 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: white;
  font-size: larger;
}


.rightPanel {
float: right;
width: 65%;
height: 70%;
padding: 1rem;
padding-left: 2rem;
}

.rightPanel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rightPanel li {
  display: block;
  width: 100%;
  margin: 3vh auto;
  padding: 1rem;
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  font-size: medium;
}

.rightPanel li span {
font-size: small;
font-weight: lighter;
/* margin-left: 1rem; */
margin-left: 0.5rem;
}
